

.source-psp {
    background-color: #bebada;
    color: black;
}

.source-cbn {
    background-color: #fdb462;
    color: black;
}

.source-pc {
    background-color: #b3de69;
    color: black;
}

.source-bel_lc {
    background-color: #80b1d3;
    color: black;
}

.source-signor {
    background-color: #bc80bd;
    color: black;
}

.source-biogrid {
    background-color: #fccde5;
    color: black;
}

.source-lincs_drug {
    background-color: #fb8072;
    color: black;
}

.source-tas {
    background-color: #d9d9d9;
    color: black;
}

.source-hprd {
    background-color: #8dd3c7;
    color: black;
}

.source-trrust {
    background-color: #ffed6f;
    color: black;
}

.source-ctd {
    background-color: #ccebc5;
    color: black;
}

.source-vhn {
    background-color: #e0e03d;
    color: black;
}

.source-pe {
    background-color: #ffe8f4;
    color: black;
}

.source-drugbank {
    background-color: #acfcfc;
    color: black;
}

.source-omnipath {
    background-color: #dd99ff;
    color: black;
}

.source-conib {
    background-color: #00d4a6;
    color: black;
}

.source-crog {
    background-color: #bebada;
    color: black;
}

.source-dgi {
    background-color: #fdb462;
    color: black;
}



.source-rlimsp {
    background-color: #8dd3c7;
    color: white;
}

.source-isi {
    background-color: #d9d9d9;
    color: white;
}

.source-tees {
    background-color: #fb8072;
    color: white;
}

.source-geneways {
    background-color: #fccde5;
    color: white;
}

.source-eidos {
    background-color: #bc80bd;
    color: white;
}

.source-trips {
    background-color: #80b1d3;
    color: white;
}

.source-medscan {
    background-color: #b3de69;
    color: white;
}

.source-sparser {
    background-color: #fdb462;
    color: white;
}

.source-reach {
    background-color: #bebada;
    color: white;
}

.badge-source {
      font-size: 8pt;
      margin: 0;
    }
