.source-psp {
    background-color: #a6cee3;
    color: black;
}

.source-cbn {
    background-color: #2daaff;
    color: black;
}

.source-pc {
    background-color: #fb8072;
    color: black;
}

.source-bel_lc {
    background-color: #33a02c;
    color: black;
}

.source-signor {
    background-color: #fb9a99;
    color: black;
}

.source-biogrid {
    background-color: #ff595b;
    color: black;
}

.source-tas {
    background-color: #fdbf6f;
    color: black;
}

.source-hprd {
    background-color: #ff7f00;
    color: black;
}

.source-trrust {
    background-color: #cab2d6;
    color: black;
}

.source-ctd {
    background-color: #8cde09;
    color: black;
}

.source-vhn {
    background-color: #4daf4a;
    color: black;
}

.source-pe {
    background-color: #ea5eff;
    color: black;
}

.source-drugbank {
    background-color: #a656289e;
    color: black;
}

.source-omnipath {
    background-color: #f781bf;
    color: black;
}

.source-conib {
    background-color: #999999;
    color: black;
}

.source-crog {
    background-color: #8dd3c7;
    color: black;
}

.source-dgi {
    background-color: #bebada;
    color: black;
}

.source-minerva {
    background-color: #80b1d3;
    color: black;
}

.source-geneways {
    background-color: #a6cee3;
    color: white;
}

.source-isi {
    background-color: #2daaff;
    color: white;
}

.source-rlimsp {
    background-color: #b2df8a;
    color: white;
}

.source-tees {
    background-color: #33a02c;
    color: white;
}

.source-eidos {
    background-color: #ff595b;
    color: white;
}

.source-trips {
    background-color: #fb9a99;
    color: white;
}

.source-medscan {
    background-color: #fdbf6f;
    color: white;
}

.source-sparser {
    background-color: #ff7f00;
    color: white;
}

.source-reach {
    background-color: #cab2d6;
    color: white;
}

